* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container * {
  margin-bottom: 15px;
}

.login-container input {
  width: 60%;
  height: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 0.9rem;
}

.login-container button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-container a {
  width: 60%;
  text-align: center;
  cursor: pointer;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: lightpink;
  justify-content: center;
}

h1 {
  padding: 20px 20px 0;
  font-size: 1rem;
}

.side-bar-container {
  width: 20%;
  height: 100vh;
  background-color: azure;
  display: flex;
  flex-direction: column;
}

.side-bar-container > * {
  margin-bottom: 20px;
}

.new-conversation-group {
  width: 100%;
  padding: 0 20px;
}

.new-conversation-group > button {
  margin-right: 20px;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.entry:hover {
  background-color: green;
}

.entry .message-group {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.message-group .text-group {
  display: flex;
  flex-direction: column;
}

.entry img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.text-group {
  width: 100%;
}

.text-group .messager-name {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.text-group .last-message {
  font-size: 0.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entry .last-message-time {
  font-size: 0.6rem;
}

.opened-message-container {
  width: 60%;
  height: 100vh;
  background-color: white;
}

.message-avatar {
  width: 30px;
  height: 30px;
}

.messages-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 30px;
}

.messages-container > div {
  display: flex;
  margin: 20px 30px 10px;
}

.message-styling {
  max-width: 60%;
}

.message-text {
  font-size: 0.9rem;
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
}

.message-time {
  font-size: 0.65rem;
  display: flex;
  margin: 0 10px;
}

.sent-by-other .message-time {
  justify-content: end;
}
.sent-by-me .message-text {
  background-color: lightskyblue;
}

.sent-by-other .message-text {
  background-color: lightslategray;
}

.sent-by-other {
  flex-direction: row-reverse;
}

.send-message-group {
  display: flex;
  width: 100%;
}

.send-message-group input {
  width: 80%;
  margin-left: 50px;
  margin-right: 20px;
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.search-page > * {
  margin-bottom: 20px;
}

.search-page .input-group {
  width: 60%;
  display: flex;
  justify-content: center;
}

.search-page .input-group input {
  width: 50%;
  margin-right: 20px;
}