.side-bar-container {
    width: 20%;
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.side-bar-container > * {
    margin-bottom: 20px;
}

h2 {

}

.new-conversation-group {
    display: flex;
    align-items: center;
}

.new-conversation-group > div {
    margin-left: 15px;
}

.new-conversation-button {
    background-color: white;
    width: fit-content;
    padding: 1rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: 1px solid black;
    margin: 0;
    font-size: 1.2rem;
    border-radius: 50%;
    font-weight: 700;
}

.recent-messages-container {
    height: 80%;
    width: 100%;
    box-sizing: content-box;
    padding-right: 40px;
    overflow-y: scroll;
}

.logout-button-row {
    display: flex;
    justify-content: center;
}

.recent-message-card {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.selected {
    padding-left: 5px;
}

img {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    width: 20%;
}

.text-group {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.recent-message-card .last-message-time {
    width: 20%;
    text-align: end;
}

.recent-message-name {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-message, .last-message-time {
    text-wrap: nowrap;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-message {
    font-size: 0.7rem;
}

.last-message-time {
    font-size: 0.6rem;
}

.opened-message-container {
    width: 80%;
    height: 100vh;
    background-color: white;
}


/* 
.side-bar-container>* {
    margin-bottom: 20px;
}

.new-conversation-group {
    width: 100%;
    padding: 0 20px;
}

.new-conversation-group>button {
    margin-right: 20px;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.entry:hover {
    background-color: green;
}

.entry .message-group {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.message-group .text-group {
    display: flex;
    flex-direction: column;
}

.entry img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.text-group {
    width: 100%;
}

.text-group .messager-name {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-group .last-message {
    font-size: 0.7rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entry .last-message-time {
    font-size: 0.6rem;
}

.message-avatar {
    width: 30px;
    height: 30px;
}

.messages-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 30px;
}

.messages-container>div {
    display: flex;
    margin: 20px 30px 10px;
}

.message-styling {
    max-width: 60%;
}

.message-text {
    font-size: 0.9rem;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
}

.message-time {
    font-size: 0.65rem;
    display: flex;
    margin: 0 10px;
}

.sent-by-other .message-time {
    justify-content: end;
}

.sent-by-me .message-text {
    background-color: lightskyblue;
}

.sent-by-other .message-text {
    background-color: lightslategray;
}

.sent-by-other {
    flex-direction: row-reverse;
}

.send-message-group {
    display: flex;
    width: 100%;
}

.send-message-group input {
    width: 80%;
    margin-left: 50px;
    margin-right: 20px;
} */